@font-face {
  font-family: customFont;
  src: url("/fonts/Shabnam.ttf"), url("/fonts/Shabnam.woff");
  font-weight: normal;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

*:focus-visible {
  border: 2px solid #C39F76;
}

html {
  font-size: 62.5%;
}

body {
  direction: rtl;
  font-family: customFont;
  min-height: 100vh;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

ul, ol, dl {
  list-style: none;
}

img, picture, video, canvas {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

button, input, textarea, select {
  font: inherit;
}

textarea {
  resize: none;
}

table {
  border-spacing: 0;
}

::-moz-selection {
  background-color: #1B1B1B;
  color: #FFF;
}

::selection {
  background-color: #1B1B1B;
  color: #FFF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: 0.3s;
}
.navbar--logo {
  width: 6.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar--links {
  display: flex;
  gap: 2.5em;
}
.navbar--link {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
  padding-block: 0.5em;
}
.navbar--link--active {
  color: #C39F76;
}
.navbar--icons {
  display: flex;
  gap: 3em;
}
.navbar--search--icon {
  width: 1.6rem;
  fill: #FFF;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.3s;
}
.navbar--search--icon:hover {
  fill: rgba(255, 255, 255, 0.5);
}
.navbar--bars--icon {
  display: none;
  width: 1.6rem;
  fill: #FFF;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.3s;
}
.navbar--bars--icon:hover {
  fill: rgba(255, 255, 255, 0.5);
}
.navbar--stick {
  background-color: rgba(0, 0, 0, 0.7);
}

.banner {
  height: 78vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.banner--title {
  color: #FFF;
  font-size: 4.8rem;
}
.banner--user--location {
  position: absolute;
  bottom: 0;
  background-color: #FFF;
  color: #28262B;
  font-size: 1.6rem;
  padding: 0.5em;
  border-radius: 0.2em 0.2em 0 0;
}
.banner--user--location--link {
  color: #28262B;
}

@media screen and (max-width: 80rem) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.3s;
  }
  .navbar--logo {
    width: 8rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navbar--links {
    display: none;
    gap: 2.5em;
  }
  .navbar--link {
    color: #FFF;
    font-size: 2.4rem;
    padding-block: 0.5em;
  }
  .navbar--link--active {
    color: #C39F76;
  }
  .navbar--icons {
    display: flex;
    gap: 4em;
  }
  .navbar--search--icon {
    width: 3.2rem;
    fill: #FFF;
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.3s;
  }
  .navbar--search--icon:hover {
    fill: rgba(255, 255, 255, 0.5);
  }
  .navbar--bars--icon {
    display: block;
    width: 3.2rem;
    fill: #FFF;
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.3s;
  }
  .navbar--bars--icon:hover {
    fill: rgba(255, 255, 255, 0.5);
  }
  .banner {
    height: 78vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .banner--title {
    color: #FFF;
    font-size: 4.8rem;
  }
  .banner--user--location {
    position: absolute;
    bottom: 0;
    background-color: #FFF;
    color: #28262B;
    font-size: 2.4rem;
    padding: 0.5em;
    border-radius: 0.2em 0.2em 0 0;
  }
  .banner--user--location--link {
    color: #28262B;
  }
}
@media screen and (max-width: 50rem) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.3s;
  }
  .navbar--logo {
    width: 8rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navbar--links {
    display: none;
    gap: em;
  }
  .navbar--link {
    color: #FFF;
    font-size: 3.2rem;
    padding-block: 0.5em;
  }
  .navbar--link--active {
    color: #C39F76;
  }
  .navbar--icons {
    display: flex;
    gap: 2.5em;
  }
  .navbar--search--icon {
    width: 3.2rem;
    fill: #FFF;
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.3s;
  }
  .navbar--search--icon:hover {
    fill: rgba(255, 255, 255, 0.5);
  }
  .navbar--bars--icon {
    display: block;
    width: 3.2rem;
    fill: #FFF;
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.3s;
  }
  .navbar--bars--icon:hover {
    fill: rgba(255, 255, 255, 0.5);
  }
  .banner {
    height: 78vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .banner--title {
    color: #FFF;
    font-size: 4.8rem;
  }
  .banner--user--location {
    position: absolute;
    bottom: 0;
    background-color: #FFF;
    color: #28262B;
    font-size: 2.4rem;
    padding: 0.5em;
    border-radius: 0.2em 0.2em 0 0;
  }
  .banner--user--location--link {
    color: #28262B;
  }
}/*# sourceMappingURL=root.css.map */