*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: none;
  // outline: none;
}

html {
  font-size: 62.5%;
}

body {
  direction: rtl;
  font-family: $fm--primary;
  min-height: 100vh;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

ul,
ol,
dl {
  list-style: none;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

button,
input,
textarea,
select {
  border: none;
  background: none;
  font: inherit;
}

p {
  line-height: 1.7em;
}

textarea {
  resize: none;
}

table {
  border-spacing: 0;
}

::selection {
  background-color: #1b1b1b;
  color: $clr--text--light;
}
