@mixin flexCenter($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin row($topAndBottomMargin: 0) {
  width: 93%;
  max-width: 120rem;
  margin: $topAndBottomMargin auto;
  position: relative;
}

@mixin fullImage($pos: center) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $pos;
}