.header--slider {
  height: 100vh;
  .swiper-slide {
    @include flexCenter;
    @include fullImage;
    background-attachment: fixed;
    position: relative;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   background-color: rgba($color: #000000, $alpha: 0.5);
    //   width: 100%;
    //   height: 100%;
    //   z-index: -1;
    // }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: rgba($color: $clr--light, $alpha: 0.5);
    margin-inline: 2%;
    transition: 0.3s;
    &::after {
      font-size: 2.4rem;
    }
    &:hover {
      color: rgba($color: $clr--light, $alpha: 1);
    }
  }
  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  &--content {
    // max-width: 60%;
    text-align: center;
    @include md {
      max-width: 85%;
    }
    @include sm {
      max-width: 85%;
    }
  }
  &--title {
    display: block;
    color: $clr--text--light;
    font-size: $fs--md;
    margin-bottom: 1em;
  }
  &--description {
    color: $clr--text--light;
    font-size: $fs--lg;
    margin-bottom: 1em;
    text-wrap: balance;
  }
  &--btn {
    color: $clr--text--light;
    font-size: $fs--md;
    font-weight: bold;
    padding: 0.4em 2em;
    border: 2px solid $clr--secondary;
    background-color: $clr--secondary;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: transparent;
    }
  }
}