.header--slider {
  height: 100vh;
  .swiper-slide {
    @include flexCenter;
    @include fullImage;
    background-attachment: fixed;
    position: relative;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   background-color: rgba($color: #000000, $alpha: 0.5);
    //   width: 100%;
    //   height: 100%;
    //   z-index: -1;
    // }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: rgba($color: $clr--light, $alpha: 0.5);
    margin-inline: 2%;
    transition: 0.3s;
    &::after {
      font-size: 2.4rem;
    }
    &:hover {
      color: rgba($color: $clr--light, $alpha: 1);
    }
  }
  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  &--content {
    max-width: 80%;
    text-align: center;
  }
  &--title {
    display: block;
    color: $clr--text--light;
    font-size: $fs--md;
    margin-bottom: 2rem;
    @include md {
      font-size: calc($fs--md - 0.4rem);
    }
    @include sm {
      font-size: calc($fs--md - 0.4rem);
    }
  }
  &--description {
    color: $clr--text--light;
    font-size: $fs--lg;
    margin-bottom: 3rem;
    text-wrap: balance;
    @include lg {
      font-size: $fs--xxmd;
    }
    @include md {
      font-size: $fs--xmd;
    }
    @include sm {
      font-size: calc($fs--lg - 2rem);
    }
  }
  &--btn {
    color: $clr--text--light;
    font-size: $fs--sm;
    font-weight: bold;
    padding: 0.5em 2em;
    border: 2px solid $clr--secondary;
    background-color: $clr--secondary;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: transparent;
    }
  }
}