.navbar {
  // padding: 1.5rem 3%;
  padding-block: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.3s;
  &--container {
    @include row(160rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--logo {
    width: $size--lg;
    object-fit: contain;
  }
  &--links {
    display: flex;
    gap: 2.5em;
    @include lg {
      display: none;
    }
    @include md {
      display: none;
    }
    @include sm {
      display: none;
    }
  }
  &--link {
    color: $clr--text--light;
    font-size: $fs--sm;
    font-weight: 500;
    padding-block: 0.5em;
  }
  &--link--active {
    color: $clr--primary;
  }
  &--icons {
    display: flex;
    gap: 2.5em;
  }
  &--search--icon {
    font-size: calc($fs--sm + 0.2rem);
    color: $clr--light;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: rgba($clr--light, 0.5);
    }
    @include lg {
      font-size: calc($fs--sm + 0.2rem);
    }
    @include md {
      font-size: calc($fs--sm + 0.4rem);
    }
    @include sm {
      font-size: calc($fs--sm + 0.4rem);
    }
  }
  &--bars--icon {
    display: none;
    font-size: calc($fs--sm + 0.2rem);
    color: $clr--light;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: rgba($clr--light, 0.5);
    }
    @include lg {
      font-size: calc($fs--sm + 0.2rem);
    }
    @include md {
      font-size: calc($fs--sm + 0.3rem);
      display: block;
    }
    @include sm {
      font-size: calc($fs--sm + 0.3rem);
      display: block;
    }
  }
  &--stick {
    background-color: rgba(#282828, 0.9);
  }
}
