.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3%;
  position: fixed;
  // background-color: $clr--bg--dark;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.3s;
  &--logo {
    width: $size--lg;
    object-fit: contain;
    // cursor: pointer;
  }
  &--links {
    display: flex;
    gap: 2.5em;
  }
  &--link {
    color: $clr--text--light;
    font-size: $fs--md;
    font-weight: bold;
    padding-block: 0.5em;
  }
  &--link--active {
    color: $clr--primary;
  }
  &--icons {
    display: flex;
    gap: 3em;
  }
  &--search--icon {
    width: $size--sm;
    fill: $clr--light;
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      fill: rgba($color: $clr--light, $alpha: 0.5);
    }
  }
  &--bars--icon {
    display: none;
    width: $size--sm;
    fill: $clr--light;
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      fill: rgba($color: $clr--light, $alpha: 0.5);
    }
  }
  &--stick {
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}

.banner {
  height: 78vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  position: relative;
  @include flexCenter;
  &--title {
    color: $clr--text--light;
    font-size: $fs--lg;
  }
  &--user--location {
    position: absolute;
    bottom: 0;
    background-color: $clr--bg--light;
    color: $clr--text--dark;
    font-size: $fs--md;
    padding: 0.5em;
    border-radius: 0.2em 0.2em 0 0;
  }
  &--user--location--link {
    color: $clr--text--dark;
  }
}

.header--slider {
  height: 100vh;
  .swiper-slide {
    @include flexCenter;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   background-color: rgba($color: #000000, $alpha: 0.5);
    //   width: 100%;
    //   height: 100%;
    //   z-index: -1;
    // }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: rgba($color: $clr--light, $alpha: 0.5);
    margin-inline: 2%;
    transition: 0.3s;
    &::after {
      font-size: 2.4rem;
    }
    &:hover {
      color: rgba($color: $clr--light, $alpha: 1);
    }
  }
  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  &--content {
    max-width: 60%;
    text-align: center;
  }
  &--title {
    display: block;
    color: $clr--text--light;
    font-size: $fs--xmd;
    margin-bottom: 1em;
  }
  &--description {
    color: $clr--text--light;
    font-size: $fs--xlg;
    margin-bottom: .5em;
    text-wrap: wrap;
  }
  &--btn {
    color: $clr--text--light;
    font-size: calc($fs--md + 0.4rem);
    font-weight: bold;
    padding: 0.4em 2em;
    border: 2px solid $clr--secondary;
    background-color: $clr--secondary;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background-color: transparent;
    }
  }
}
